.about_main {
  color: white;
  float: left;
  height: 200px;
  width: 100%;
  position: relative;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.596);
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 6px 0px black;
  border-radius: 6px;
}

.title {
  float:left;
}

.avatar {
  border-radius: 100%;
}