.about_main {
  color: #333;
  text-align: center;
  min-height: 200px;
  height: auto;
  width: 100%;
  position: relative;
  top: 0px;
  background-color: #464646e1;
  padding: 0.5rem 5px;
  box-shadow: 0 2px 6px 0px black;
  border-radius: 6px;
  margin-bottom: 15px;
  margin-top: 40px;
}

.tab {
  height: 36px;
  width: auto;
  border-radius: 10px 10px 0px 0px;
  background-color: #464646e1;
  content: "";
  position: absolute;
  left: 10px;
  top: -30px;
  transform: skewX(-20deg);
  z-index: 14;
}

.title {
  font-size: 20px;
  margin: 0 0 5px 5px;
  text-align: start;
  color: #e3e3e3;
  padding: 4px 10px;
}
