.main {
  list-style: none;
  grid-template-columns: 1fr 1fr;
  background-color: #f0f0f0;
  padding: 10px 15px;
  border-radius: 4px;
}

.experience_header{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.experience_title {
  /* position: absolute; */
  color:darkturquoise
}


.experience_org {
  text-align: right;
  display: inline;
}

.experience_role {
  text-align: left;
  display: inline-block;
}

.divider {
  grid-column: span 2;
}

.divider hr{
  margin: 0;
  border: 1.5px solid gray;
  opacity: 1;
  border-radius: 4px;
}

.info_chunk {
  text-align: left;
  margin: 0 10px;
  padding-top: 8px;
  border-radius: 4px;
  grid-column: span 2;
  /* padding-top: 5px; */
}

.info_chunk ul {
  margin-left: 10px;
}

.info_chunk h5 {
  margin-left: 5px;
}