html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* #ruby {
  background-color: red !important;
}
#js {
  background-color: gold !important;
}
#html {
  background-color: yellowgreen !important;
}
#css {
  background-color: orange !important;
}
#gsvr {
  background-color: green !important;
}
#agis {
  background-color: #00aaff !important;
}
#qgis {
  background-color: yellow !important;
} */

.badge {
  transition: all 0.2s;
}
.badge:hover {
  transform: scale(1.05);
}
.p_content {
  text-align: left;
}