@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Hubballi&family=Tilt+Warp&display=swap');


html,
body {
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* #ruby {
  background-color: red !important;
}
#js {
  background-color: gold !important;
}
#html {
  background-color: yellowgreen !important;
}
#css {
  background-color: orange !important;
}
#gsvr {
  background-color: green !important;
}
#agis {
  background-color: #00aaff !important;
}
#qgis {
  background-color: yellow !important;
} */
.blinking-cursor {
  font-size: 24px;

}

@keyframes cursor-blink {

  0%,
  45% {
    opacity: 0;
    /* Cursor is visible */
  }

  55%,
  100% {
    opacity: 0.8;
    /* Cursor is invisible */
  }
}

.initial-load {
  span.home {
    animation: cursor-blink 1s linear 3;
  }
}
.page-title {
  margin-left: 58px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgba(255, 255, 255, 0.516);

  span {
    opacity: 0.8;
    &.home {
      color: turquoise;
    }
    &.experience {
      color: magenta;
    }
    &.about {
      color: gold;
    }
  }
}