@font-face {
  font-family: 'Tilt Warp';
  src: url('./TiltWarp-Regular.ttf');
  font-style: medium;
  font-weight: normal;
  font-display: swap;
}

@mixin animate($animation, $duration, $delay, $method, $times) {
  animation: $animation $duration $delay $method $times;
}
@keyframes borderglow {
  0% {
    box-shadow: inset 0 0 48px -10px rgba(255, 255, 0, 0.2);
  }

  33% {
    box-shadow: inset 0 0 48px -10px rgba(255, 192, 203, 0.2);
  }

  66% {
    box-shadow: inset 0 0 48px -10px rgba(85, 85, 254, 0.2);
  }

  100% {
    box-shadow: inset 0 0 48px -10px rgba(255, 255, 0, 0.2);
  }
        
}
@keyframes rotateme {
  0% {
    transform: rotateZ(2.5deg)
  }
  50% {
    transform: rotateZ(-2.5deg)
  }
  100% {
    transform: rotateZ(2.5deg)
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
    /* Fade in starts from fully transparent */
  }

  to {
    opacity: 1;
    /* Fade in ends at fully opaque */
  }
}



// /Logo animation

#circle-border {
  stroke: green;
}

.animation-wrapper {
  text-align: center;
}

#logo {
  margin: auto;
  stroke-linecap: round;
  width: -webkit-fill-available;
  height: 300px;

  line {
    &:nth-child(1) {
      stroke-dasharray: 406;
      animation: start-lines 0s ease-in;
    }

    &:nth-child(2) {
      stroke-dasharray: 76;
      animation: start-lines 0s ease-in;
    }

    &:nth-child(3),
    &:nth-child(4) {
      stroke-dasharray: 82.03;
      animation: start-lines 0s ease-in-out;
      animation-delay: 1.4s;
    }
  }

  path {
    &:nth-child(1) {
      stroke-dasharray: 950;
      stroke-dashoffset: 0;
      animation: line-anim 6.5s ease-in-out forwards;
      animation-delay: 0s;
    }

    &:nth-child(2) {
      stroke-dasharray: 1905;
      stroke-dashoffset: 951;
      animation: line-anim 8s ease-in-out infinite alternate;
      animation-delay: 3.2s;
    }

    &:nth-child(3) {
      stroke-dasharray: 86;
      stroke-dashoffset: 200;
      animation: cloud-circle-line-anim 7.1s ease-in-out infinite alternate;
      animation-delay: 3.2s;
    }

    &:nth-child(4) {
      stroke-dasharray: 500;
      stroke-dashoffset: 0;
      animation: line-anim 7.5s ease-in-out infinite alternate;
      animation-delay: 0.5s;
    }

    &:nth-child(5) {
      stroke-dasharray: 250;
      stroke-dashoffset: 0;
      animation: cloud-circle-line-anim 7.5s ease-in-out infinite alternate;
      animation-delay: 2.5s;
    }

    &:nth-child(6) {
      stroke-dasharray: 120;
      stroke-dashoffset: 0;
      animation: line-anim 6.5s ease-in-out forwards;
      animation-delay: 1s;
    }

    &:nth-child(7) {
      stroke-dasharray: 105;
      stroke-dashoffset: 0;
      animation: cloud-circle-line-anim 6.5s ease-in-out infinite alternate;
      animation-delay: 2s;
    }

    #hexagon {
      animation: hex-line-anim 3s ease-in-out forwards;
      animation-delay: 1.2s;
    }

    #circle {
      animation: circle-line-anim 8s ease-in-out forwards;
      animation-delay: 1s;
    }
  }
}

@keyframes start-lines {
  0% {
    stroke: white;
    stroke-dashoffset: 1000;
    stroke-dasharray: 366;
    opacity: 0%;
  }

  25% {
    opacity: 100%;
    stroke-dasharray: 366;
  }

  50% {
    stroke: white;
  }

  100% {
    stroke: white;
    stroke-dashoffset: 366;
    stroke-dasharray: 366;
  }
}

@keyframes line-anim {
  0% {
    opacity: 0%;
    stroke: limegreen;
    stroke-dasharray: 200;
    stroke-dashoffset: 0;
  }

  10% {
    opacity: 50%;
    stroke: yellow;
  }

  20% {
    opacity: 100%;
    stroke: orange;
  }

  30% {
    stroke: red;
  }

  50% {
    stroke-dasharray: 1000;
    stroke: magenta;
  }

  70% {
    stroke: blueviolet;
  }

  80% {
    stroke: skyblue;
  }

  90% {
    stroke: turquoise;
    stroke-width: 2px;
    opacity: 100%;
  }

  100% {
    stroke: white;
    stroke-width: 4px;
    opacity: 80%;
  }
}

@keyframes circle-line-anim {
  0% {
    stroke: white;
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    opacity: 0%;
  }

  25% {
    stroke-dasharray: 300;
    stroke-dashoffset: 200;
  }

  50% {
    stroke: turquoise;
    stroke-dasharray: 600;
    stroke-dashoffset: 300;
  }

  75% {
    opacity: 100%;
  }

  100% {
    stroke: limegreen;
    stroke-dasharray: 210;
    stroke-dashoffset: 380;
  }
}

@keyframes cloud-circle-line-anim {
  0% {
    opacity: 0%;
    stroke: red;
    stroke-dasharray: 60;
    stroke-dashoffset: 400;
    stroke-width: 4px;
  }

  10% {
    stroke: orange;
  }

  20% {
    stroke: yellow;
  }

  30% {
    stroke: limegreen;
  }

  40% {
    stroke: aqua;
  }

  50% {
    stroke: skyblue;
  }

  60% {
    opacity: 70%;
    stroke: blueviolet;
  }

  70% {
    stroke: purple;
  }

  80% {
    stroke: hotpink;
  }

  90% {
    stroke: orange;
  }

  100% {
    stroke-width: 4px;
    stroke: red;
  }
}

@keyframes hex-line-anim {
  0% {
    stroke: limegreen;
    stroke-dasharray: 520;
    stroke-dashoffset: 0;
    stroke-width: 1px;
    opacity: 0%;
  }

  20% {
    opacity: 100%;
  }

  50% {
    stroke: turquoise;
  }

  100% {
    stroke: fuchsia;
    stroke-dasharray: 150;
    stroke-dashoffset: 400;
  }
}



